<template> 
  <div id="app" class="app"> 
 
    <div class="header"> 
      
         <h1>Gran Hotel</h1> 

      <nav> 
        <button v-if="is_auth" v-on:click="loadHome"> Inicio </button>
        <button v-if="is_auth" v-on:click="logOut"> Cerrar Sesión </button>
        <button v-if="!is_auth" v-on:click="loadLogIn" > Iniciar Sesión </button> 
        <button v-if="!is_auth" v-on:click="loadSignUp" > Registrarse </button> 
      </nav> 
    </div> 
     
 
    <div class="main-component"> 
      <nav>
        <button v-if="is_auth" v-on:click="loadGaleria"> Galeria</button>
        <button v-if="is_auth" v-on:click="loadRegistroHuespedes" > Registrar Huesped </button> 
        <button v-if="is_auth" v-on:click="loadBuscar" > Buscar Huesped </button> 
        <button v-if="is_auth" v-on:click="loadRegistrarHabitaciones" > Registrar Habitación </button> 
        <button v-if="is_auth" v-on:click="loadBuscarHabitacion" > Buscar Habitacion </button> 
        <button v-if="is_auth" v-on:click="loadCheckIn" > Registar Reservas </button>
      </nav> 
      <router-view   
        v-on:completedLogIn="completedLogIn" 
        v-on:completedSignUp="completedSignUp" 
        v-on:completedGaleria="completedGaleria"
        v-on:completedResgistroHuesped="completedResgistroHuesped"
        v-on:completedBuscarHuesped="completedBuscarHuesped"
        v-on:completedRegistrarHabitaciones="completedRegistrarHabitaciones"
        v-on:completedBuscarHabitacion="completedBuscarHabitacion"
        v-on:completedRegistrarReserva="completedRegistrarReserva"
        v-on:logOut="logOut" 
      >
      </router-view> 
    </div> 
     
 
    <div class="footer"> 
      <div class="mision-tic">
        <img src="@\assets\logo-mision.png"  alt="" width="120" height="80">
        <img src="@\assets\logo1_unal.png"  alt="">
      </div>
      <div class="contacto">
        <h2>Contacto:</h2>
        <p> <img src="@\assets\telefono.png"  alt="" width="25" height="25">  : 305-812-9037    <img src="@\assets\correo.png"  alt=""  width="25" height="25">    : luisyesidq@gmail.com</p>
        
      </div>
      
    </div> 
 
  </div> 
</template>
 
<script> 
export default {
  name: 'App',
  computed: {
    is_auth: {
    get: function() {
      return this.$route.meta.requiresAuth;
    },
      set: function() { }
    }
},
 
  
 
  methods:{ 
    loadLogIn: function(){ 
      this.$router.push({name: "logIn"}) 
    }, 
    loadSignUp: function(){ 
      this.$router.push({name: "signUp"}) 
    },
    completedLogIn: function(data) { 
      localStorage.setItem("isAuth", true); 
      localStorage.setItem("username", data.username); 
      localStorage.setItem("token_access", data.token_access); 
      localStorage.setItem("token_refresh", data.token_refresh); 
      alert("Autenticación Exitosa"); 
      this.loadHome();
    },
    completedSignUp: function(data) { 
      alert("Registro Exitoso"); 
      this.completedLogIn(data); 
    },
 
    loadHome: function() { 
      this.$router.push({ name: "home" }); 
    }, 
    loadGaleria: function(){ 
      this.$router.push({name: "galeria"}) 
    }, 
    loadRegistroHuespedes: function(){ 
      this.$router.push({name: "registroHuespedes"}) 
    },
    loadRegistrarHabitaciones: function(){ 
      this.$router.push({name: "registrarHabitaciones"}) 
    },
    loadBuscar: function() { 
      this.$router.push({ name: "buscarHuesped" }); 
    },
    loadBuscarHabitacion: function() { 
      this.$router.push({ name: "buscarHabitacion" }); 
    },
    loadCheckIn: function() { 
      this.$router.push({ name: "checkIn" }); 
    },
   
    logOut: function () {
      localStorage.clear();
      alert("Sesión Cerrada");
      this.loadLogIn(); 
    }, 
 
    completedRegistrarHabitaciones: function(data) { 
      alert("Registro de Habitación Exitoso");
      this.loadHome(); 
      
      }, 
    completedResgistroHuesped: function(data) { 
      alert("Registro de Huesped Exitoso");
      this.loadHome(); 
      
      },
    completedRegistrarReserva: function(data) { 
      alert("Registro de Reserva Exitoso");
      this.loadHome(); 
    }
  }, 
 
} 
</script>
 
<style> 
 
  body{ 
    margin: 0 0 0 0; 
  } 
 
  .header{ 
    margin: 0%; 
    padding: 0; 
    width: 100%; 
    height: 20vh;  
    min-height: 100px;
    /*background-color: #fae99c;*/
    background-image: url(assets/angle-banner-Hotel.jpg)  ;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between; 
     
  } 
.header h1{ 
    margin: auto; 
    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 80px; 
    color: rgb(244, 255, 146); 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 2px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);

  } 
 
  .header nav { 
    height: 100%; 
    width: 25%; 
 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
 
    font-size: 20px; 
  } 
 
  .header nav button{ 
    color: #000000; 
    background: #ffffff; 
    border: 2px solid #E5E7E9; 
 
    border-radius: 8px; 
    padding: 10px 20px; 
  } 
 
  .header nav button:hover{ 
    color: #000000; 
    background: #53a2f0; 
    border: 2px solid #E5E7E9; 
  } 
 .main-component{ 
    height: 95vh; 
    margin: 0%; 
    padding: 0%; 
    background-image: url(assets/fondo.jpg);
    background-size: 100% 130%;
 
   /* background: #4ad1d1 ; */
  } 
 .footer{ 
  margin: 0; 
  padding: 0;
  width: 100%; 
  height: 50vh; 
  min-height: 100px; 
  text-align:center;
  background-color: #000203; 
  color: #E5E7E9; 
 
  } 
.mision-tic{
   
    margin: 1.5em; 
    float: left;
    width: 20%; 
    height: 40vh;
    
    
}

.contacto{
  width: 90%; 
  height: 40vh; 
  float: center;
  } 
.contacto p{
  text-align:left;
  text-indent: 100px;
  font-size: 18px;
  
}
  .main-component nav { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    font-size: 10px; 
  } 
 .main-component nav button{ 
   
    color: #E5E7E9; 
    background: #283747; 
    border: 1px solid #E5E7E9; 
    border-radius: 5px; 
    padding: 10px 20px; 
  } 
 
  .main-component nav button:hover{ 
    color: #283747; 
    background: #E5E7E9; 
    border: 1px solid #E5E7E9; 
  } 
</style>