<template>

 <div class="container">
    <div class="row">
      <div class="consulta">
      <form v-on:submit.prevent="processGetProduct">
          <input 
            type="text"
            class="form-control"
            v-model="elementP.documento"
            placeholder="Numero Documento"
          />
          <button type="submit" class="btn btn-primary">Buscar Huesped</button>
        </form>
        <form v-on:submit.prevent="processDelete">
          <input
            type="hidden"
            class="form-control"
            v-model="onlyOneP.documento"
            placeholder="Numero Documento"
          /><button type="submit" class="btn btn-primary">Elimiar Huesped</button>
          </form>
      </div>
      <div class="actualizar">
        <h2>Actualizar Datos Personales de Huesped</h2>
        <form v-on:submit.prevent="processUpgrade">
           <input
            type="number"
            class="form-control"
            readonly="readonly"
            v-model="onlyOneP.id"
            placeholder="ID"
          />
          <input
            type="number"
            class="form-control"
            v-model="onlyOneP.documento"
            placeholder="Documento"
          />
          <input
            type="text"
            class="form-control"
            v-model="onlyOneP.nombre"
            placeholder="Nombre"
          />
          
          <input
            type="text"
            class="form-control"
            v-model="onlyOneP.apellido"
            placeholder="Apellido"
          />
          <input
            type="text"
            class="form-control"
            v-model="onlyOneP.pais"
            placeholder="Pais"
          />
          <input
            type="number"
            class="form-control"
            v-model="onlyOneP.telefono"
            placeholder="Telefono"
          />
           <input
            type="text"
            class="form-control"
            v-model="onlyOneP.email"
            placeholder="Email"
          />
          <input
            type="text"
            class="form-control"
            v-model="onlyOneP.direccion"
            placeholder="Direccion"
          />
        <br />
          <button type="submit" class="btn btn-primary">Modificar</button>
        </form>
      </div>
     
    </div>
  </div>
</template>
<script>

</script>
<style>
.container{ 
  /*border: 3px solid  #283747; */
        margin: 0; 
        padding: 0%; 
        height: 100%; 
        width: 100%; 
     
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
    } 
.row { 
        /*border: 3px solid  #283747; */
        border-radius: 10px; 
        width: 80%; 
        height: 90%; 
        margin-top: 0%;
        margin-right: 40px;
         
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center;  
    } 

.consulta h2{ 
        color: #283747; 
 
    }
.consulta form{ 
   /*background-color: aquamarine; */
    border-radius: 10px; 
    width: 100%; 
    height: 40%; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
         
    }  
.consulta input{ 
        height: 8%; 
        width: 50%; 
        box-sizing: border-box; 
        padding: 10px 20px; 
        margin: 5px 0; 
        border: 2px solid #283747; 
    } 
 .consulta button{ 
        width: 50%; 
        height: 35px; 
 
        color: #E5E7E9; 
        background: #283747; 
        border: 1px solid #E5E7E9; 
 
        border-radius: 5px; 
        padding: 10px 25px; 
        margin: 5px 0; 
    } 
 .consulta button:hover{ 
        color: #E5E7E9; 
        background: crimson; 
        border: 1px solid #283747; 
    } 
  .actualizar h2{ 
        color: #283747; 
 
    }
.actualizar form{
    width: 600px; 
    height: 90%;
   /* background-color: aqua; */
    border-radius: 10px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    }
.actualizar button{ 
        width: 20%; 
        height: 35px;
        color: #E5E7E9; 
        background: #283747; 
        border: 1px solid #E5E7E9; 
        border-radius: 5px; 
        padding: 10px 25px; 
        margin: 5px 0; 
    } 
 .actualizar button:hover{ 
        color: #E5E7E9; 
        background: crimson; 
        border: 1px solid #283747; 
    } 
.actualizar input{ 
        height: 30px; 
        width: 40%; 
 
        box-sizing: border-box; 
        padding: 10px 20px; 
        margin: 5px 0; 
 
        border: 1px solid #283747; 
    }
</style>