<template> 
 
    <div class="registrar_reserva"> 
        <div class="container_registrar_reserva"> 
            <h2>Registrar Reserva</h2> 
 
            <form v-on:submit.prevent="processreserva" > 
                <input type="number" v-model="reserva.id" placeholder="Id"> 
                <br>
                <input type="text" v-model="reserva.numeroidentificacion_huesped" placeholder="Cedula Huesped"> 
                <br>
                <input type="text" v-model="reserva.numeroHabitacion" placeholder="Numero Habitacion"> 
                <br> 
                <input type="date" v-model="reserva.fechaEntrada" placeholder=""> 
                <br> 
                <input type="date" v-model="reserva.fechaSalida" placeholder=""> 
                <br>
                <input type="text" v-model="reserva.estado" placeholder="Estado"> 
                <br> 
                <button type="submit">Registrar</button> 
            </form> 
        </div> 
 
    </div> 
 
</template>

<script> 
import gql from "graphql-tag";

export default {
    name: "CheckIn",

    data: function(){
        return{
        reserva:{
                id: "",
                numeroidentificacion_huesped: "",
                numeroHabitacion: "",
                fechaEntrada: "",
                fechaSalida: "",
                estado: "",
            
        },    
        };
    },

 methods: {
   processreserva: async function() {
     await this.$apollo
        .mutate({ 
           mutation: gql`
             mutation ($reserva: ReservaInput!) {
                createReserva(reserva: $reserva) {
                    id
                    numeroidentificacion_huesped
                    numeroHabitacion
                    fechaEntrada
                    fechaSalida
                    estado
                }
            }
          `,
            variables: {
              reserva: this.reserva,
            },
            
        }) 
        
        .then((result) => {
          let dataReserva = {
              
              
        };
         
          this.$emit("completedRegistrarReserva"),dataReserva;
             console.log(dataReserva);
          
        })
        
        .catch((error) => {
           console.log(error);
            alert("ERROR: Fallo en el registro.");
            
        });
    },
  
  },
}
</script>

<style> 

 
    .registrar_reserva{ 
         margin: 0; 
        padding: 0%; 
        height: 100%; 
        width: 100%; 
     
        display: flex; 
        justify-content: center; 
        align-items: center; 
    } 
 
    .container_registrar_reserva {
        border: 3px solid  #283747; 
        border-radius: 10px; 
        width: 25%; 
        height: 80%; 
         
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
    } 
 
    .registrar_reserva h2{ 
        color: #283747; 
 
    } 
 
    .registrar_reserva form{ 
        width: 70%; 
         
    } 
 
    .registrar_reserva input{ 
        height: 40px; 
        width: 100%; 
 
        box-sizing: border-box; 
        padding: 10px 20px; 
        margin: 5px 0; 
 
        border: 1px solid #283747; 
    } 
 
    .registrar_reserva button{ 
        width: 100%; 
        height: 40px; 
 
        color: #E5E7E9; 
        background: #283747; 
        border: 1px solid #E5E7E9; 
 
        border-radius: 5px; 
        padding: 10px 25px; 
        margin: 5px 0 25px 0; 
    } 
 
    .registrar_reserva button:hover{ 
        color: #E5E7E9; 
        background: crimson; 
        border: 1px solid #283747; 
    } 
 
</style>
