<template>
<div class="wrapper">
  <div class="slider" id="slider">
    <ul class="slides">
      <li class="slide" id="slide1">
        <img src="@\assets\slide1.jpg" alt="photo 1">
        
      </li>
      <li class="slide" id="slide2">
        <img src="@\assets\slide2.jpg" alt="photo 2">
        
      </li>
      <li class="slide" id="slide3">
        <img src="@\assets\slide3.jpg" alt="photo 3">
        
      </li>
      <li class="slide" id="slide4">
        <img src="@\assets\slide4.jpg" alt="photo 4">
       
      </li>
      <li class="slide" id="slide5">
        <img src="@\assets\slide5.jpg" alt="photo 5">
        
      </li>
      <li class="slide">
        <img src="@\assets\slide1.jpg" alt="photo 1">
        
      </li>
    </ul>

  </div>
</div>

    
</template>
<style>
@keyframes slide {
	0% { transform: translateX(0); }
	10% { transform: translateX(0); }

	15% { transform: translateX(-100%); }
	30% { transform: translateX(-100%); }

	35% { transform: translateX(-200%); }
	50% { transform: translateX(-200%); }

	55% { transform: translateX(-300%); }
	70% { transform: translateX(-300%); }

	75% { transform: translateX(-400%); }
	90% { transform: translateX(-400%); }

	95% { transform: translateX(-500%); }
	100% { transform: translateX(-500%); }
}

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }



.wrapper {
	max-width: 50%;
	margin: 0 auto;
}

.slider {
	position: relative;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
}

.slide {
	width: 100vw;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.slides:hover .slide {
	animation-play-state: paused;
}

.slide img {
	width: 100%;
	vertical-align: top;
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}

.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 8vw;
	position: absolute;
	bottom: 8vw;
	right: 4vw;
}

.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}



@media only screen and (min-width: 1200px) {
	.slide {
		width: 50%;
	}

	.caption {
		font-size: 100px;
		bottom: 150px;
		right: 60px;
	}
}
</style>