<template> 

<div class="contenido">
    <div class="greetings"> 
        <h1>¡Bienvenido señor  <span> {{userDetailById.username}} </span>!</h1>
    </div> 
    <div class="contenido_tabla">
    <h2>Reservas Actuales:</h2>
    <button class="btn btn-secondary" v-on:click="processData">Actualizar tabla</button>
    <table class="table">
    <thead>
        <tr>
            <th>Numero Reserva</th>
            <th>Huesped</th>
            <th>Habitacion</th>
            <th>Fecha entrada</th>
            <th>Fecha salida</th>
            <th>Estado</th>

        </tr>
    </thead>
        <tbody>
        <tr v-for="checkin in checkIns" :key="checkin.id">
            <td>{{ checkin.numero_checkIn }}</td>
            <td>{{ checkin.register_date}}</td>
            <td>{{ checkin.note }}</td>
            <td>{{ checkin.habitacion.numero_habitacion }}</td>
            <td>{{ checkin.habitacion.numero_camas }}</td>
            <td>{{ checkin.huesped.documento}}</td>
            <td>{{ checkin.huesped.nombre}}</td>
            <td>{{ checkin.huesped.apellido}}</td>
            
            
        </tr>
        </tbody>
    </table>
    </div>
</div>
</template>
<script> 
import gql from "graphql-tag";
import jwt_decode from "jwt-decode";
export default {
    name: "Home",
    data: function () {
        return {
            userId: jwt_decode(localStorage.getItem("token_refresh")).user_id,
            userDetailById: {
                username: "",
            },
        };
    },
    apollo: {
        userDetailById: {
            query: gql`
               query Query($userId: Int!) {
                userDetailById(userId: $userId) {
                    username
                }
            }
            `,
            variables() {
                return {
                    userId: this.userId,                   
                };
            }
        },
    }
};
</script> 
<style> 
.contenido{ 
    /*border: 3px solid  #0abd28;*/
        margin: 0; 
        padding: 0%; 
        height: 100%; 
        width: 100%; 
        justify-content: center; 
        align-items: center; 
        text-align: center; 
         
  } 
.greetings{ 
        /*background-color: rgb(233, 35, 223);*/
         /*border: 3px solid  #283747;*/
        padding: 0%; 
        height: 20%; 
        width: 100%; 
        display: flex; 
        justify-content: center; 
        align-items: center;  
       
    } 
.greetings h1{ 
        
        font-size: 50px; 
        color: #283747; 
    } 
.greetings span{ 
        color: crimson; 
        font-weight: bold; 
    }
.contenido_tabla{
    height:300px;
    width:100%;
    
    /*border: 3px solid  #db1d6c; */
    justify-content: center; 
        align-items: center; 
        text-align: center;  
         
  } 
.contenido_tabla table {
    border-collapse: collapse;
    border-bottom: 1px solid #ddd;
    margin: 0 auto;
    }
.contenido_tabla   thead {
            background-color: #333;
            color: #fff;
            
        }
.contenido_tabla    thead,tbody {
            display: block;
        }
.contenido_tabla   th{
            padding: 5px 10px;
            border: 1px solid #ddd;
            width: 180px;
            box-sizing: border-box;
        }
.contenido_tabla td {
            padding: 5px 0px;
            border: 1px solid #ddd;
            width: 177px;
            box-sizing: border-box;
        }
.contenido_tabla    tbody {
            height: 100px;
            overflow-y: scroll
        }
.contenido_tabla button{ 
        width: 15%; 
        height: 40px; 
 
        color: #E5E7E9; 
        background: #283747; 
        border: 1px solid #E5E7E9; 
 
        border-radius: 5px; 
        padding: 10px 25px; 
        margin: 5px 0 25px 0; 
    } 
 .contenido_tabla button:hover{ 
        color: #E5E7E9; 
        background: crimson; 
        border: 1px solid #283747; 
    } 
</style>