<template> 
 
        <div class="informacion">
            <h2>Información</h2>
            <p style="text-align: left">En nombre del equipo humano del Gran Hotel, nos gustaría darle la más sincera 
            bienvenida  a  nuestro  establecimiento,  así  como  agradecerle  la  confianza  que  deposita  en 
            nosotros. 
            Con la certeza de que su estancia en el Hotel  será totalmente de su agrado quedo a sus órdenes y no dude 
            en comunicarse conmigo para cualquier duda, comentario o sugerencia con gusto será escuchado y atendido de inmediato.
            </p>
            <img src="@\assets\recepcion.jpg"  alt="" width="350" height="300">
            
        </div>

        <div class="logIn_user">
            <div class="container_logIn_user"> 
                <h2>Iniciar sesión</h2> 
 
                <form v-on:submit.prevent="processLogInUser" > 
                   <input type="text" v-model="user.username" placeholder="Username"> 
                   <br> 
                   <input type="password" v-model="user.password" placeholder="Password"> 
                   <br> 
                   <button type="submit">Iniciar Sesion</button> 
                </form> 
             </div> 
 
         </div> 
 
</template>
<script> 
import gql from "graphql-tag";

export default {
    name: "LogIn",

  data: function() {
    return {
      user: {
        username: "",
        password: "",
      },
    };
  },

  methods: {
    processLogInUser: async function() {
      await this.$apollo
        .mutate({
          mutation: gql`
            mutation($credentials: CredentialsInput!) {
              logIn(credentials: $credentials) {
                refresh
                access
              }
            }
          `,
          variables: {
            credentials: this.user,
          },
        })
        .then((result) => {
          let dataLogIn = {
            username: this.user.username,
            token_access: result.data.logIn.access,
            token_refresh: result.data.logIn.refresh,
          };

          this.$emit("completedLogIn", dataLogIn);
        })
        .catch((error) => {
          console.log(error);
          alert("ERROR 401: Credenciales Incorrectas.");
        });
    },
  },
}
 
</script>

<style> 
 
    .logIn_user{ 
        /*border: 3px solid  #283747; */
        margin: 0; 
        padding: 0%; 
        height: 100%; 
        width: 100%; 
        
        align-items: center; 
        text-align:center;
    } 
    .informacion { 
        /*border: 3px solid  #283747; */
        border-radius: 10px; 
        width: 30%; 
        height: 40%; 
        margin-top: 0%;
        margin-right: 30%;
        margin-left: 30px;
        float: left;
        display: flex; 
        flex-direction: column; 
        justify-content: left; 
        align-items: center; 
        
    } 
    .container_logIn_user { 
        border: 3px solid  #283747; 
        border-radius: 10px; 
        width: 30%; 
        height: 45%; 
        margin-top: 1%;
        margin-right: 40px;
        display: flex; 
        flex-direction: column; 
        justify-content: left; 
        align-items: center;
        float: right;
        
        
        
    } 
 
    .logIn_user h2{ 
        color: #283747; 
 
    } 
    .logIn_user form{ 
        width: 70%; 
         
    } 
 
    .logIn_user input{ 
        height: 40px; 
        width: 100%; 
 
        box-sizing: border-box; 
        padding: 10px 20px; 
        margin: 5px 0; 
 
        border: 1px solid #283747; 
    } 
 
    .logIn_user button{ 
        width: 100%; 
        height: 40px; 
 
        color: #E5E7E9; 
        background: #283747; 
        border: 1px solid #E5E7E9; 
 
        border-radius: 5px; 
        padding: 10px 25px; 
        margin: 5px 0; 
    } 
 
    .logIn_user button:hover{ 
        color: #E5E7E9; 
        background: crimson; 
        border: 1px solid #283747; 
    } 
 
</style>