<template>
  <div class="registrar_huesped">
    <div class="container_registrar_huesped">
      <h2>Registrar Huesped</h2>
      <form v-on:submit.prevent="processhuesped">
        <input type="number" v-model="huesped.id" placeholder="id" />
        <br />
        <input type="text" v-model="huesped.numeroidentificacion" placeholder="numero identificacion" />
        <br />
        <input type="text" v-model="huesped.nombres" placeholder="Nombres" />
        <br />
        <input type="text" v-model="huesped.apellidos" placeholder="Apellidos" />
        <br />
        <input type="text" v-model="huesped.paisResidencia" placeholder="Paìs de Residencia" />
        <br />
        <input type="text" v-model="huesped.direccion" placeholder="Direccion" />
        <br />
        <input type="text" v-model="huesped.telefono" placeholder="Telefono" />
        <br />
        <input type="text" v-model="huesped.correoElectronico" placeholder="Correo Electronico" />
        <br />
        <button type="submit">Registrar</button>
      </form>
    </div>
  </div>
</template>

>>>>>>> 240661a4691210c0418d932025d18a43d11c473a
<script>
import gql from "graphql-tag";

export default {

  name: "RegistrarHuespedes",

  data: function () {
    return {
      huesped: {
        id: "",
        numeroidentificacion: "",
        nombres: "",
        apellidos: "",
        paisResidencia: "",
        direccion: "",
        telefono: "",
        correoElectronico: "",
      },
    };
  },

  methods: {
    processhuesped: async function () {
      await this.$apollo.mutate({
        mutation: gql`
          mutation ($huesped: HuespedInput!) {
            createHuesped(huesped: $huesped) {
              id
              numeroidentificacion
              nombres
              apellidos
              paisResidencia
              direccion
              telefono
              correoElectronico
            }
          }
        `,
        variables: {
          huesped: this.huesped,
        },
      })
        .then((result) => {
          let dataHuesped = {

            id: result.data.createHuesped.id,
            numeroidentificacion: result.data.createHuesped.numeroidentificacion,
            nombres: result.data.createHuesped.nombres,
            apellidos: result.data.createHuesped.apellidos,
            paisResidencia: result.data.createHuesped.paisResidencia,
            direccion: result.data.createHuesped.direccion,
            telefono: result.data.createHuesped.telefono,
            correoElectronico: result.data.createHuesped.correoElectronico,
          };

          this.$emit("completedResgistroHuesped", dataHuesped);
        })

        .catch((error) => {
          console.log("errors", error.graphQLErrors);
          alert("ERROR: Fallo en el registro.");
        });

    },
  },
}
</script>

<style>
.registrar_huesped {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container_registrar_huesped {
  border: 3px solid #283747;
  border-radius: 10px;
  width: 25%;
  height: 85%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registrar_huesped h2 {
  color: #283747;
}

.registrar_huesped form {
  width: 70%;
}

.registrar_huesped input {
  height: 40px;
  width: 100%;

  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;

  border: 1px solid #283747;
}

.registrar_huesped button {
  width: 100%;
  height: 40px;

  color: #e5e7e9;
  background: #283747;
  border: 1px solid #e5e7e9;

  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0 25px 0;
}

.registrar_huesped button:hover {
  color: #e5e7e9;
  background: crimson;
  border: 1px solid #283747;
}
</style>