<template> 
 
    <div class="registrar_habitacion"> 
        <div class="container_registrar_habitacion"> 
            <h2>Registrar Habitacion</h2> 
 
            <form v-on:submit.prevent="processhabitacion" > 
                <input type="number" v-model="habitacion.id" placeholder="id"> 
                <br>
                <input type="text" v-model="habitacion.numeroHabitacion" placeholder="Numero Habitacion"> 
                <br>
                <input type="text" v-model="habitacion.cantidadCamas" placeholder="cantidad Camas"> 
                <br> 
                <input type="text" v-model="habitacion.tipoCama" placeholder="tipo Cama"> 
                <br> 
                <input type="text" v-model="habitacion.acomodacion" placeholder="acomodacion"> 
                <br>
                <input type="number" v-model="habitacion.valorporNoche" placeholder="valorporNoche"> 
                <br> 
                <button type="submit">Registrar</button> 
            </form> 
        </div> 
 
    </div> 
 
</template>

<script> 
import gql from "graphql-tag";

export default {
    name: "RegistrarHabitaciones",

    data: function(){
        return{
        habitacion:{
                id: "",
                numeroHabitacion: "",
                cantidadCamas: "",
                tipoCama: "",
                acomodacion: "",
                valorporNoche: "",
            
        },    
        };
    },

 methods: {
   processhabitacion: async function() {
     await this.$apollo
        .mutate({ 
           mutation: gql`
            mutation CreateHabitacion($habitacion: HabitacionInput!) {
                createHabitacion(habitacion: $habitacion) {
                    id
                    numeroHabitacion
                    cantidadCamas
                    tipoCama
                    acomodacion
                    valorporNoche
                }
            }
          `,
            variables: {
              habitacion: this.habitacion,
            },
        }) 
        .then((result) => {
          let dataHabitacion = {
            
            id: result.data.createHabitacion.id,
            numeroHabitacion: result.data.createHabitacion.numeroHabitacion,
            cantidadCamas: result.data.createHabitacion.cantidadCamas,
            tipoCama: result.data.createHabitacion.tipoCama,
            acomodacion: result.data.createHabitacion.acomodacion,
            valorporNoche: result.data.createHabitacion.valorporNoche,
            
          };
          
          this.$emit("completedRegistrarHabitaciones"),dataHabitacion;
          
        })
        
        .catch((error) => {
            console.log(error);
            alert("ERROR: Fallo en el registro.");
        });
    },
  
  },
}
</script>

<style> 

 
    .registrar_habitacion{ 
         margin: 0; 
        padding: 0%; 
        height: 100%; 
        width: 100%; 
     
        display: flex; 
        justify-content: center; 
        align-items: center; 
    } 
 
    .container_registrar_habitacion {
        border: 3px solid  #283747; 
        border-radius: 10px; 
        width: 25%; 
        height: 80%; 
         
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
    } 
 
    .registrar_habitacion h2{ 
        color: #283747; 
 
    } 
 
    .registrar_habitacion form{ 
        width: 70%; 
         
    } 
 
    .registrar_habitacion input{ 
        height: 40px; 
        width: 100%; 
 
        box-sizing: border-box; 
        padding: 10px 20px; 
        margin: 5px 0; 
 
        border: 1px solid #283747; 
    } 
 
    .registrar_habitacion button{ 
        width: 100%; 
        height: 40px; 
 
        color: #E5E7E9; 
        background: #283747; 
        border: 1px solid #E5E7E9; 
 
        border-radius: 5px; 
        padding: 10px 25px; 
        margin: 5px 0 25px 0; 
    } 
 
    .registrar_habitacion button:hover{ 
        color: #E5E7E9; 
        background: crimson; 
        border: 1px solid #283747; 
    } 
 
</style>
