<table class="table">
            <tr>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Pais</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Direccion</th>
            </tr>
            
            <tbody>
            <tr >
                <td>{{ onlyOneP.documento }}</td>
                <td>{{ onlyOneP.nombre }}</td>
                <td>{{ onlyOneP.apellido }}</td>
                <td>{{ onlyOneP.pais }}</td>
                <td>{{ onlyOneP.email }}</td>
                <td>{{ onlyOneP.telefono }}</td>
                <td>{{ onlyOneP.direccion }}</td>
            </tr>
            
            
            </tbody>
        </table>


        .table {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    text-align: right;
    width: 600px;
  

}
.table th {
    background-position: left top;
    font-size: 15px;
    font-weight:bold;
    text-align: left;
    background-color: #e2ebef;
    background-repeat: repeat-x;
    color: #34484E;
    font-family: “Trebuchet MS”, Arial;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #A4C4D0;
    border-bottom-color: #A4C4D0;
}
.table td {
    padding: 5px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #A4C4D0;
    border-bottom-color: #A4C4D0;
    text-align:left;
    }